<div class="user-content min max-h-60 overflow-auto block">
<p>Updates:<span style="font-size: 18px; color: #396;"><strong><br /></strong></span></p>
<p><span style="font-size: 18px; color: #396;"><strong>+</strong></span> Added experimental support for older graphics cards</p>
<p><span style="font-size: 18px; color: #f60;"><strong>*</strong></span> Shrunk the mod's filesize by compression</p>
</div>
</div>